<div xlass="container mt-3 md-6 offset-md-3">
    <form >
  <div class="mb-3 form-label p-5 pb-1">
      <label bclass="form-label">Name</label>
      <input type="text" formControlName="name" class="form-control" style="margin: 10px !important;">
  </div>
  <div class="mb-3 form-label p-5" style="padding-top: 0px !important;">
    <label bclass="form-label">price</label>
    <input type="text" formControlName="name" class="form-control"style="margin: 10px !important;">
</div>
<div style="padding-left: 49px !important"><button class="btn btn-success" type="submit">Save</button></div>

    </form>
</div>
